#content {
  display: flex;
  gap: 1rem; 
}

.project-tab {
  background-color: rgb(183, 186, 218);
  padding: 1rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: black solid 1px;
}